---
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>

    </nav>
</header>

<style>
	header {
	margin: 0;
	padding: 0 1em;
	background: white;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
}

h2 {
	margin: 0;
	font-size: 2.0rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h2 a {
	text-decoration: none;
	color: var(--black);
}

.social-links {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
}

.social-links svg {
	opacity: 0.75;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.social-links a:hover svg {
	opacity: 1;
	transform: translateY(-1px);
}

@media (max-width: 720px) {
	.social-links {
		display: none;
	}
}

</style>
